{include file="./inc/common_template_header.tmpl"}

   <div id="contents">
      <div id="main">
■エラーが発生しました。
	<br><br>
	<p>{$str}</p>
	<a href="./config.php">メンテナンス</a>
	<br><br>
	<div align="center">
	<form>
	<INPUT type="button" onClick='history.back();' value="戻る">
	</form>
	</div>
	</div>
	
{include file="./inc/common_template_footer.tmpl"}
