<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Flot Pingtime</title>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{$home_url}static/js/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="{$home_url}static/js/jquery.min.js"></script>
    <script type="text/javascript" src="{$home_url}static/js/jquery.flot.min.js"></script>
	 <link href="layout.css" rel="stylesheet" type="text/css">
 </head>
 <body>
 <div id="placeholder" style="width:300px;height:150px;"></div>

<script type="text/javascript">
{literal}
$(function () {
{/literal}
    var d3 = [{foreach from=$pingtime item=time name=loop}[{$smarty.foreach.loop.index},{$time}],{/foreach}];
{literal}
    var placeholder = $("#placeholder");

    var plot = $.plot(placeholder, [d3]);

    // the plugin includes a jQuery plugin for adding resize events to
    // any element, let's just add a callback so we can display the
    // placeholder size
    // placeholder.resize(function () {
    //    $(".message").text("Placeholder is now "
    //                       + $(this).width() + "x" + $(this).height()
    //                       + " pixels");
    //});
});
{/literal}
</script>

 </body>
</html>