<div id="footer" class="clearfix">
	<div id="footer_menu" class="shadow clearfix">
	</div><!-- /footer_menu -->
	<div id="footer_pre">Copyright &copy; 2010 CxS All Rights Reserved.</div>
</div><!-- /footer -->
</div><!-- /wrapper -->
</div><!-- /container -->
</body>
</html>
