<div id="footer" class="clearfix">
	<div id="footer_menu" class="shadow clearfix">
		<ul>
			<li><a href="{$home_url}site_rule.php">公式サイトへ</a></li>
			<li><a href="{$home_url}mailform.php">お問い合わせ</a></li>
		</ul>
	</div><!-- /footer_menu -->
	<div id="footer_pre">Copyright &copy; 2010 CxS All Rights Reserved.</div>
</div><!-- /footer -->
</div><!-- /wrapper -->
</div><!-- /container -->
</body>
</html>
