<div id="sub_menu" class="clearfix">
	<div class="section">
		<table>
			<tr><td {if $currentpage eq "config"}class="section_link_hover"{/if}><a class="section_link" href="{$home_url}config.php"><img class="ie6_png" src="{$home_url}static/images/main/setting_top.png" alt="設定TOP">設定TOP</a></td></tr>
			<tr><td {if $currentpage eq "admin"}class="section_link_hover"{/if}><a class="section_link" href="{$home_url}admin.php"><img class="ie6_png" src="{$home_url}static/images/main/setting_admin.png" alt="アカウント設定">アカウント設定</a></td></tr>
			<tr><td {if $currentpage eq "ports"}class="section_link_hover"{/if}><a class="section_link" href="{$home_url}ports.php"><img class="ie6_png" src="{$home_url}static/images/main/setting_ports.png" alt="ポート設定">ポート設定</a></td></tr>
			<tr><td {if $currentpage eq "mailgroup"}class="section_link_hover"{/if}><a class="section_link" href="{$home_url}mailgroup.php"><img class="ie6_png" src="{$home_url}static/images/main/setting_mailgroup.png" alt="メールグループ設定">メールグループ設定</a></td></tr>
			<tr><td {if $currentpage eq "mailaddr"}class="section_link_hover"{/if}><a class="section_link" href="{$home_url}mailaddr.php"><img class="ie6_png" src="{$home_url}static/images/main/setting_mailaddr.png" alt="メールアドレス設定">メールアドレスの追加</a></td></tr>
		</table>
	</div>
</div><!-- /sub_menu -->

